.field2
{
    background-color: #E9967c;
    height: 500px;
    margin-top: 15px;
    
}
.legend-style
{
    background-color: #8B0000;
    padding: 5px;   
    border-radius:10px;
    color: #FFA07A;
}
.field3
{
    background-color:#8B0000;
}
label
{
    padding-right: 10px;
}
tr
{
    
}